<div class="flex flex-wrap">
  <div class="w-full mt-20">
<!--    <app-card-line-chart></app-card-line-chart>-->
        <app-card-table></app-card-table>
  </div>
</div>
<h2 class="text-2xl font-bold mb-4">Leave Requests and Absence</h2>
<div class="flex flex-wrap flex-col  justify-between  p-4">
  <div class="mb-5 bg-white rounded w-full shadow-lg p-6">
    <app-absence-chart></app-absence-chart>
  </div>
  <div class="bg-white rounded w-full shadow-lg p-5">
    <app-users-chart></app-users-chart>
  </div>
</div>
