<nav
  class="top-0 absolute z-50 w-full flex  flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
>
  <div
    class="relative w-full px-4 mx-auto bg-primary rounded-5 flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full  flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <div>
        <a
          [routerLink]="['/']"
          class="text-dark text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        >
          RHP - Office
        </a>
      </div>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>


    <div
      class="lg:flex flex-grow items-center justify-end mt-2 lg:bg-opacity-0 lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }"
    >
      <button
        class="bg-soft-grey  flex items-center  text-primary-300 active:bg-primary text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
        type="button"
      >

        <a routerLink="/support" class="hover:text-black mr-2">
          Support
        </a>
        <svg class="h-2.5 hover:fill-black fill-primary-300 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
        </svg>
      </button>
    </div>
  </div>
</nav>
